{% extends "base.html" %}

{% block scripts %}
  <!-- Add scripts that need to run before here -->
  <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
  <script>
    kofiWidgetOverlay.draw('ojaysan', {
      'type': 'floating-chat',
      'floating-chat.donateButton.text': 'Support me',
      'floating-chat.donateButton.background-color': '#5bc0de',
      'floating-chat.donateButton.text-color': '#323842'
    });
  </script>
  {{ super() }}
  <!-- Add scripts that need to run afterwards here -->
{% endblock %}